<h1>Survey Management</h1>

<div>
  <mat-grid-list cols="2" rowHeight="250px">
    <mat-grid-tile>
      <button mat-button class="menu-button" [routerLink]="['/list-surveys']">
        Surveys
      </button>
    </mat-grid-tile>

    <mat-grid-tile>
      <button mat-button class="menu-button" [routerLink]="['/list-survey-questions']">
        Survey Questions
      </button>
    </mat-grid-tile>

    <mat-grid-tile>
      <button mat-button class="menu-button" [routerLink]="['/list-survey-question-answer-options']">
        Survey Question Answer Options
      </button>
    </mat-grid-tile>

    <mat-grid-tile>
      <button mat-button class="menu-button" [routerLink]="['/list-survey-answers-Pool']">
        Survey Answers Pool
      </button>
    </mat-grid-tile>

  </mat-grid-list>
</div>
<br>
