mat-grid-tile {
  background-color: white;
  color: White;
}

.menu-button {
  margin: 0 0.5rem;
  padding: 0.5rem;
  height: 200px;
  width: 100%;
  font-size: 48px;
  line-height: 48px;
  background-color: #008b8b;
  border-radius: 1em;
  white-space: normal;
}
