h3 {
  margin: 0 0 10px;
}
pre {
  background-color: #f5f5f5;
  padding: 15px;
}

.input-full-width {
  width: 100%;
}

.new-entry-container {
  margin: 1rem;
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.add-form-control{
  display: flex;
  width: 100%;
  justify-content: center;
}
