.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.body {
  display: flex;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  flex-direction: column;
}

.form-toolbar {
  background-color: #008b8b;
}

.dialog-header-container {
  display: flex;
  width: 100%;
  justify-content: center;
}

.dialog-header-title {
  color: #ffffff;
}

.dialog-header-sub-title {
  color: #ffffff;
  font-size: 14px;
  font-weight: 350;
}

.button-row {
  display: flex;
  justify-content: flex-end;
}
