<div class="row">
  <div class="col-6" id="img" style="text-align:center;margin-top:50px"><img src="/assets/logo.png" width="360"
      height="340" alt="Hatfield Montessori Logo"></div>
  <div class="col-6">

    <form [formGroup]="registerForm">
      <h2>Register</h2>

      <div class="form-group">
        <label for="UserName">Username</label>
        <input type="email" formControlName="UserName" placeholder="E-mail" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.UserName.errors }" autocomplete="off"/>
        <div *ngIf="submitted && f.UserName.errors" class="invalid-feedback">
          <div *ngIf="f.UserName.errors?.required">Email is required</div>
          <div *ngIf="f.UserName.errors?.email">Invalid email</div>
        </div>
      </div>

      <div class="form-group">
        <label for="PhoneNumber">Phone Number</label>
        <input type="text" formControlName="PhoneNumber" placeholder="+27638487949" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.PhoneNumber.errors }"  autocomplete="off" />

        <div *ngIf="submitted && f.PhoneNumber.errors" class="invalid-feedback">
          <div *ngIf="f.PhoneNumber.errors?.required">Phone number is required</div>
          <div *ngIf="f.PhoneNumber.errors?.pattern">Invalid format. Number should start with +27 and have 9 digits(without the 0) after +27</div>
        </div>
      </div>

      <div class="form-group">
        <label for="UserPassword">Password</label>
        <input type="password" formControlName="UserPassword" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.UserPassword.errors }" />
        <div *ngIf="submitted && f.UserPassword.errors" class="invalid-feedback">
          <div *ngIf="f.UserPassword.errors?.required">Password is required</div>
          <div *ngIf="f.UserPassword.errors?.minlength">Password must be at least 6 characters</div>
        </div>
      </div>
      <div class="form-group">
        <label for="UserPasswordConfirm">Password Confirm</label>
        <input type="password" formControlName="UserPasswordConfirm" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.UserPasswordConfirm.errors }" />
        <div *ngIf="submitted && f.UserPasswordConfirm.errors" class="invalid-feedback">
          <div *ngIf="f.UserPasswordConfirm.errors?.required">Password is required</div>
          <div *ngIf="f.UserPasswordConfirm.errors?.minlength">Password must be at least 6 characters</div>
          <div *ngIf="f.UserPasswordConfirm.errors.confirmedValidator">Password and Confirm Password must be the same
          </div>
        </div>
      </div>

      <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary" (click)="onSubmit($event)">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Register
        </button>
        <a routerLink="../login" class="btn btn-link">Back</a>
      </div>
    </form>
  </div>
</div>
