<div class="mat-elevation-z8 table-container">
  <div class="table-top-controllers">
    <span class="table-name"> Manage Settings |</span>
    <button mat-button (click)="onAdd()">Add new Setting</button>
  </div>

  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium">
  </mat-form-field>

  <mat-table [dataSource]="dataSource" matSort class="table" #mytable>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Description </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.description}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="value">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Value </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.value}}</mat-cell>
    </ng-container>


    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef mat-sort-header> </mat-header-cell>
      <mat-cell *matCellDef="let element">

        <button mat-button (click)="onUpdateValue(element)" matTooltip="Update Details">
          <mat-icon class="icon-library">create</mat-icon>
        </button>

        <button mat-button (click)="onDeleteValue(element)" matTooltip="Delete">
          <mat-icon class="icon-library">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>


    <tr class="mat-row no-data-row" *matNoDataRow>
      <h2 class="mat-cell no-data-text">No data found</h2>
    </tr>
  </mat-table>


  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>

<app-progress-spinner class="example-margin" color="warn" mode="indeterminate" value="50" [backdropEnabled]="true"
  [positionGloballyCenter]="true" [displayProgressSpinner]="displayProgressSpinner">


  <div bsModal #childModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="dialog-child-name">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <h4 id="dialog-child-name" class="modal-title pull-left">There's no activity. For security reasons you'll be
            logged out</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="hideChildModal()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {{idleState}}
          <div class="row mrgbtm">
            <div class="col-md-6">
              <button type="button" (click)="logout()" class="btn btn-danger">Logout</button>
            </div>
            <div class="col-md-6">
              <button type="button" (click)="stay()" class="btn btn-success">Stay</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
