<div class="container">
  <mat-toolbar class="top-section">
    <span class="fill-remaining-space"></span>
    <span class="title">Please Note: You've been idle</span>
    <span class="fill-remaining-space"></span>
  </mat-toolbar>

  <div>You will time out in 4 seconds for security reasons</div>
  <div class="button-row">
    <button mat-raised-button type="button" mat-dialog-close mat-flat-button color="warn">Cancel</button>
    <button mat-raised-button type="submit" color="primary">Logout</button>
  </div>
</div>
