<h1>Update Employee {{data.employee_Id}}</h1>
<form [formGroup]="employeeForm">
<table>

  <tr>
    <td><mat-form-field class="demo-full-width">
      <input class="form-control" [(ngModel)]="data.employee_Name" formControlName="employee_Name" pattern="[a-zA-Z ]*"  matTooltip="Enter name" matInput placeholder="Name" autocomplete="off" required>
    </mat-form-field>
    <mat-error>
      <span *ngIf="!employeeForm.get('employee_Name').value && employeeForm.get('employee_Name').touched"></span>
    </mat-error>

    <mat-form-field class="demo-full-width">
      <input class="form-control" [(ngModel)]="data.employee_Surname" formControlName="employee_Surname" pattern="[a-zA-Z ]*"  matTooltip="Enter enter surname" matInput placeholder="Surname" autocomplete="off" required>
    </mat-form-field>
    <mat-error>
      <span *ngIf="!employeeForm.get('employee_Surname').value && employeeForm.get('employee_Surname').touched"></span>
    </mat-error>

    <mat-form-field class="demo-full-width">
      <input class="form-control" formControlName="id_Number" (blur)="getDob(employeeForm.get('id_Number').value)" [(ngModel)]="data.id_Number" name="id_Number" matTooltip="Enter ID number" matInput placeholder="ID number" autocomplete="off" required>
    </mat-form-field>
    <mat-error>
      <span *ngIf="!employeeForm.get('id_Number').value && employeeForm.get('id_Number').touched"></span>
    </mat-error></td>
    <td><mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Date of birth</mat-label>
      <input placeholder="Date of birth" [(ngModel)]="data.doB" name="doB" [max]="maxDate" formControlName="doB" matInput  matTooltip="Enter date of birth"  [matDatepicker]="picker" autocomplete="on" required>
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  <br>
    <mat-radio-group matTooltip="Enter Gender" name="gender" [(ngModel)]="data.gender" formControlName="gender">
      <label id="lbl" for="gender">Gender</label>
      <mat-radio-button value="Male" name="gender" >Male</mat-radio-button>
      <mat-radio-button value="Female" name="gender">Female</mat-radio-button>
    </mat-radio-group>

  <br>

    <mat-form-field class="demo-full-width">
      <input class="form-control" name="employee_Email" [(ngModel)]="data.employee_Email" formControlName="employee_Email" matTooltip="Enter email" matInput placeholder="Email" autocomplete="off" required>
    </mat-form-field>
    <mat-error>
      <span *ngIf="!employeeForm.get('employee_Email').value && employeeForm.get('employee_Email').touched"></span>
    </mat-error></td>
    <td><mat-form-field class="demo-full-width">
      <input class="form-control" name="phone_Number" [(ngModel)]="data.phone_Number" formControlName="phone_Number" matTooltip="Enter phone number" matInput placeholder="Phone number" autocomplete="off" required>
      <mat-hint>should start with 0 and spaces must not be included</mat-hint>
    </mat-form-field>
    <mat-error>
      <span *ngIf="!employeeForm.get('phone_Number').value && employeeForm.get('phone_Number').touched"></span>
    </mat-error>

  <br>

  <mat-form-field class="demo-full-width">
    <input class="form-control" name="address_Line1" [(ngModel)]="data.address_Line1" formControlName="address_Line1" matTooltip="Enter address line 1" matInput placeholder="Address line 1" autocomplete="off" required>
  </mat-form-field>
  <mat-error>
    <span *ngIf="!employeeForm.get('address_Line1').value && employeeForm.get('address_Line1').touched"></span>
  </mat-error>


  <mat-form-field class="demo-full-width">
    <input class="form-control" name="address_Line2" [(ngModel)]="data.address_Line2" formControlName="address_Line2"  matTooltip="Enter address line 2" matInput placeholder="Address line 2" autocomplete="off" required>
  </mat-form-field>
  <mat-error>
    <span *ngIf="!employeeForm.get('address_Line2').value && employeeForm.get('address_Line2').touched"></span>
  </mat-error>
</td>
<td>
  <mat-form-field class="demo-full-width">
    <input class="form-control" formControlName="postal_Code" [(ngModel)]="data.postal_code" name="postal_code" matTooltip="Postal code" matInput placeholder="Postal code" autocomplete="off" required>
  </mat-form-field>
  <mat-error>
    <span *ngIf="!employeeForm.get('postal_Code').value && employeeForm.get('postal_Code').touched"></span>
  </mat-error>

  <mat-form-field class="demo-full-width">
    <input class="form-control" pattern="[a-zA-Z ]*" [(ngModel)]="data.city" formControlName="city" matTooltip="Enter city" matInput placeholder="City" autocomplete="off" required>
  </mat-form-field>
  <mat-error>
    <span *ngIf="!employeeForm.get('city').value && employeeForm.get('city').touched"></span>
  </mat-error>

  <label id="lbl" for="employeeType_ID">Type</label>
  <select name="employeeType_ID" formControlName="eType" [(ngModel)]="data.employee_Type"  required>
            <option *ngFor="let i of type" [ngValue]="i.employeeType_ID">
              {{ i.employeeType_Name }}
            </option>
  </select>
</td>
  </tr>
</table>
<br>
<div mat-dialog-actions>
  <button mat-button [disabled]="!employeeForm.valid" [mat-dialog-close]="1" (click)="stopEdit()">Save</button>
  <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
</div>
</form>



