<div class="mat-elevation-z8 table-container">
  <div class="table-top-controllers">
    <span class="table-name"> Academic Years |</span>
    <button mat-button (click)="onAdd()">Add new Academic Year</button>
  </div>

  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium">
  </mat-form-field>

  <mat-table [dataSource]="dataSource" matSort class="table" #mytable>

    <ng-container matColumnDef="academicYear">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Academic Year </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.academicYear}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="startDate">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Start Date </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.startDate}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="endDate">
      <mat-header-cell *matHeaderCellDef mat-sort-header> End Date </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.endDate}}</mat-cell>
    </ng-container>



    <ng-container matColumnDef="slotsCount">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Slots </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.slotsCount}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="eventsCount">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Events </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.eventsCount}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="activitiesCount">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Activities </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.activitiesCount}}</mat-cell>
    </ng-container>


    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef mat-sort-header> </mat-header-cell>



      <mat-cell *matCellDef="let element">

        <button mat-button (click)="onUpdateValue(element)" matTooltip="Update Details">
          <mat-icon class="icon-library">create</mat-icon>
        </button>

        <button mat-button (click)="onDeleteValue(element)" matTooltip="Delete">
          <mat-icon class="icon-library">delete</mat-icon>
        </button>

        <button mat-button [matMenuTriggerFor]="menu">
          <mat-icon class="icon-library">more_horiz</mat-icon>
        </button>

        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="onNavigateToSchedule(element)">View Schedule</button>
        </mat-menu>

      </mat-cell>
    </ng-container>

    <tr class="mat-row no-data-row" *matNoDataRow>
      <h2 class="mat-cell no-data-text">No data found</h2>
    </tr>
  </mat-table>


  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>

<app-progress-spinner class="example-margin" color="warn" mode="indeterminate" value="50" [backdropEnabled]="true"
  [positionGloballyCenter]="true" [displayProgressSpinner]="displayProgressSpinner">
