<h1>Add Employee</h1>

<form [formGroup]="employeeForm" (ngSubmit)="onFormSubmit()">
  <mat-form-field class="demo-full-width">
    <input class="form-control" formControlName="employee_Name" pattern="[a-zA-Z ]*"  matTooltip="Enter name" matInput placeholder="Name" autocomplete="off" required>
  </mat-form-field>
  <mat-error>
    <span *ngIf="!employeeForm.get('employee_Name').value && employeeForm.get('employee_Name').touched"></span>
  </mat-error>

  <mat-form-field class="demo-full-width">
    <input class="form-control" formControlName="employee_Surname" pattern="[a-zA-Z ]*"  matTooltip="Enter enter surname" matInput placeholder="Surname" autocomplete="off" required>
  </mat-form-field>
  <mat-error>
    <span *ngIf="!employeeForm.get('employee_Surname').value && employeeForm.get('employee_Surname').touched"></span>
  </mat-error>

  <mat-form-field class="demo-full-width">
    <input class="form-control" (blur)="getDob(employeeForm.get('id_Number').value)"  formControlName="id_Number" [(ngModel)]="idNumber" matTooltip="Enter ID number" matInput placeholder="ID number" autocomplete="off" required>
  </mat-form-field>
  <mat-error>
    <span *ngIf="!employeeForm.get('id_Number').value && employeeForm.get('id_Number').touched"></span>
  </mat-error>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Date of birth</mat-label>
    <input placeholder="Date of birth" [(ngModel)]="Dob" formControlName="doB" matInput  matTooltip="Enter date of birth" [max]="maxDate" [matDatepicker]="picker" autocomplete="on" required>
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
<br>
  <mat-radio-group matTooltip="Enter Gender" formControlName="gender">
    <mat-radio-button value="Male" name="gender" (change)="onItemChange($event.value)"  [checked]="Male">Male</mat-radio-button>
    <mat-radio-button value="Female" name="gender" (change)="onItemChange($event.value)" [checked]="Female">Female</mat-radio-button>
  </mat-radio-group>
  <mat-error>
    <span *ngIf="!employeeForm.get('gender').value && employeeForm.get('gender').touched"></span>
  </mat-error>
<br>

  <mat-form-field class="demo-full-width">
    <input class="form-control" formControlName="employee_Email" matTooltip="Enter email" matInput placeholder="Email" autocomplete="off" required>
  </mat-form-field>
  <mat-error>
    <span *ngIf="!employeeForm.get('employee_Email').value && employeeForm.get('employee_Email').touched"></span>
  </mat-error>

  <mat-form-field class="demo-full-width">
    <input class="form-control" formControlName="phone_Number" matTooltip="Enter phone number" [(ngModel)]="number" matInput placeholder="Phone number" autocomplete="off" required>
    <mat-hint>should start with 0 and spaces must not be included</mat-hint>
  </mat-form-field>
  <mat-error>
    <span *ngIf="!employeeForm.get('phone_Number').value && employeeForm.get('phone_Number').touched"></span>
  </mat-error>
<br>

<mat-form-field class="demo-full-width">
  <input class="form-control" formControlName="address_Line1" matTooltip="Enter address line 1" matInput placeholder="Address line 1" autocomplete="off" required>
</mat-form-field>
<mat-error>
  <span *ngIf="!employeeForm.get('address_Line1').value && employeeForm.get('address_Line1').touched"></span>
</mat-error>

<mat-form-field class="demo-full-width">
  <input class="form-control" formControlName="address_Line2"   matTooltip="Enter address line 2" matInput placeholder="Address line 2" autocomplete="off" required>
</mat-form-field>
<mat-error>
  <span *ngIf="!employeeForm.get('address_Line2').value && employeeForm.get('address_Line2').touched"></span>
</mat-error>

<mat-form-field class="demo-full-width">
  <input class="form-control" formControlName="postal_Code" matTooltip="Postal code" matInput placeholder="Postal code" autocomplete="off" required>
</mat-form-field>
<mat-error>
  <span *ngIf="!employeeForm.get('postal_Code').value && employeeForm.get('postal_Code').touched"></span>
</mat-error>

<mat-form-field class="demo-full-width">
  <input class="form-control" formControlName="city" pattern="[a-zA-Z ]*"  matTooltip="Enter city" matInput placeholder="City" autocomplete="off" required>
</mat-form-field>
<mat-error>
  <span *ngIf="!employeeForm.get('city').value && employeeForm.get('city').touched"></span>
</mat-error>

<h5 id="typeH" for="eType">Employee Type</h5>
<select [(ngModel)]="mySelect" class="form-control" name="eType"  formControlName="eType" required>
          <option *ngFor="let i of type" [ngValue]="i.employeeType_ID">
            {{ i.employeeType_Name }}
          </option>
</select>
<br>
  <button type="submit" mat-raised-button [disabled]="!employeeForm.valid" color="accent" matTooltip="Submit">Submit</button>
  <button mat-raised-button color="primary" matTooltip="Back" routerLink="/employees">Back</button>
</form>
