<h1>Add Fee Type</h1>
<form [formGroup]="feeTypeForm">
    <mat-form-field class="demo-full-width">
      <input class="form-control" class="form-control" [(ngModel)]="data.feeType_Name" formControlName="feeType_Name" pattern="[a-zA-Z ]*"  matTooltip="Enter Fee Type" matInput placeholder="Name" autocomplete="off" required>
    </mat-form-field>

    <mat-error>
        <span *ngIf="!feeTypeForm.get('feeType_Name').value && feeTypeForm.get('feeType_Name').touched">Invalid format</span>
      </mat-error>

    <mat-form-field class="demo-full-width">
        <input class="form-control" class="form-control" [(ngModel)]="data.feeType_Description" formControlName="feeType_Description" pattern="[a-zA-Z ]*"  matTooltip="Enter Fee Type" matInput placeholder="Description" autocomplete="off" required>
      </mat-form-field>

       
    <mat-error>
        <span *ngIf="!feeTypeForm.get('feeType_Description').value && feeTypeForm.get('feeType_Description').touched">Invalid format</span>
      </mat-error>
<br>
<div mat-dialog-actions>
  <button mat-button mat-raised-button [disabled]="!feeTypeForm.valid" color="accent" [mat-dialog-close]="1" (click)="confirmAdd()">Save</button>
  <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
</div>
</form>