<div class="container">
  <mat-toolbar class="top-section">
    <span class="fill-remaining-space"></span>
    <span class="title">Delete Employee</span>
    <span class="fill-remaining-space"></span>
  </mat-toolbar>

  <form [formGroup]="form" (submit)="onSubmit()" *ngIf="form != null">
    <div class="inline-form-field">
      <mat-form-field class="form-field" appearance="outline">
        <mat-label> Name</mat-label>
        <input type="text" matInput formControlName="Name" required>
        <mat-error *ngIf="Name.touched && Name.invalid">
          <div *ngIf="Name.errors.required">please provide name.</div>
          <div *ngIf="Name.errors.pattern">Value shoud only contain alphabets</div>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form-field" appearance="outline">
        <mat-label> Surname</mat-label>
        <input type="text" matInput formControlName="Surname" required>
        <mat-error *ngIf="Surname.touched && Surname.invalid">
          <div *ngIf="Surname.errors.required">please provide surname.</div>
          <div *ngIf="Surname.errors.pattern">Value shoud only contain alphabets</div>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="inline-form-field">
      <mat-form-field class="form-field" appearance="outline">
        <mat-label> Email</mat-label>
        <input type="email" matInput formControlName="Email" required>
        <mat-error *ngIf="Email.touched && Email.invalid">
          <div *ngIf="Email.errors.required">please provide email.</div>
          <div *ngIf="Email.errors.email">Provide valid email address</div>
          <div *ngIf="Email.errors.pattern">Provide valid email format</div>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form-field" appearance="outline">
        <mat-label> Phone Number</mat-label>
        <input type="text" matInput formControlName="PhoneNumber" required>
        <mat-error *ngIf="PhoneNumber.touched && PhoneNumber.invalid">
          <div *ngIf="PhoneNumber.errors.required">please provide phone number.</div>
          <div *ngIf="PhoneNumber.errors.pattern">phone number should start with +27</div>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="inline-form-field">
      <mat-form-field class="form-field" appearance="outline">
        <mat-label> ID Number</mat-label>
        <input type="text" matInput formControlName="IdNumber" required>
        <mat-error *ngIf="IdNumber.touched && IdNumber.invalid">
          <div *ngIf="IdNumber.errors.required">please provide email.</div>
          <div *ngIf="IdNumber.errors.pattern">Provide valid valid SA ID Number</div>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form-field" appearance="outline">
        <mat-label> Gender</mat-label>
        <mat-select matInput formControlName="Gender" required>
          <mat-option>--Select option--</mat-option>
          <mat-option value="Male">Male</mat-option>
          <mat-option value="Female">Female</mat-option>
        </mat-select>
        <mat-error *ngIf="Gender.touched && Gender.invalid">
          <div *ngIf="Gender.errors.required">please provide gender.</div>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form-field" appearance="outline">
        <mat-label> Type</mat-label>
        <mat-select formControlName="Type" required>
          <mat-option>--Select--</mat-option>
          <mat-option *ngFor="let type of types" [value]="type.id">
            {{type.name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="Type.touched && Type.invalid">
          <div *ngIf="Type.errors.required">please provide employee type.</div>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="inline-form-field">
      <mat-form-field class="form-field" appearance="outline">
        <mat-label> Address Line 1</mat-label>
        <input type="text" matInput formControlName="AddressLine1" required>
        <mat-error *ngIf="AddressLine1.touched && AddressLine1.invalid">
          <div *ngIf="AddressLine1.errors.required">please provide address line 1.</div>
          <div *ngIf="AddressLine1.errors.maxLength">address line 1 cannot be more than 50 characters</div>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form-field" appearance="outline">
        <mat-label> Address Line 2</mat-label>
        <input type="text" matInput formControlName="AddressLine2" required>
        <mat-error *ngIf="AddressLine2.touched && AddressLine2.invalid">
          <div *ngIf="AddressLine2.errors.required">please provide address line 2.</div>
          <div *ngIf="AddressLine2.errors.maxLength">address line 2 cannot be more than 50 characters</div>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="inline-form-field">
      <mat-form-field class="form-field" appearance="outline">
        <mat-label> City Or Town</mat-label>
        <input type="text" matInput formControlName="City" required>
        <mat-error *ngIf="City.touched && City.invalid">
          <div *ngIf="City.errors.required">please provide city or town</div>
          <div *ngIf="City.errors.maxLength">city or town cannot be more than 50 characters</div>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Postal Code</mat-label>
        <input type="text" matInput formControlName="postalCode" required>
        <mat-error *ngIf="postalCode.touched && postalCode.invalid">
          <div *ngIf="postalCode.errors.required">please provide postal code.</div>
          <div *ngIf="postalCode.errors.pattern">postal code should be 4 digits and only contain numbers</div>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="button-row">
      <button mat-raised-button type="button" (click)="closeDialog()" mat-flat-button color="warn">Cancel</button>
      <button mat-raised-button type="submit" color="primary">Delete</button>
    </div>

  </form>

</div>

<app-progress-spinner class="example-margin" color="warn" mode="indeterminate" value="50" [backdropEnabled]="true"
  [positionGloballyCenter]="true" [displayProgressSpinner]="displayProgressSpinner">
