<div class="mat-elevation-z8 table-container">
  <div class="table-top-controllers">
    <span class="table-name"> Manage Survey Questions</span>
  </div>

  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium">
  </mat-form-field>

  <mat-table [dataSource]="dataSource" matSort class="table" #mytable>

    <ng-container matColumnDef="surveyName">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Survey Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.surveyName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="text">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Question Title </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.text}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="answersCount">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Question Answers Count </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.answerOptions.length}}</mat-cell>
    </ng-container>


    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef mat-sort-header> </mat-header-cell>
      <mat-cell *matCellDef="let element">

        <button mat-button (click)="onUpdateValue(element)" matTooltip="Update Details">
          <mat-icon class="icon-library">create</mat-icon>
        </button>

        <button mat-button (click)="onDeleteValue(element)" matTooltip="Delete">
          <mat-icon class="icon-library">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>


    <tr class="mat-row no-data-row" *matNoDataRow>
      <h2 class="mat-cell no-data-text">No data found</h2>
    </tr>
  </mat-table>


  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>

<app-progress-spinner class="example-margin" color="warn" mode="indeterminate" value="50" [backdropEnabled]="true"
  [positionGloballyCenter]="true" [displayProgressSpinner]="displayProgressSpinner">
