<mat-toolbar>
  <div>
    <button mat-icon-button (click)="drawer.toggle()">
      <mat-icon style="color:white;">menu</mat-icon>
    </button>
    <span class="header">Hatfield Montessori Pre-school</span>
    <span class="spacer"></span>
  </div>

  <button [matMenuTriggerFor]="menu" class="user-control" *ngIf="this.user != null">
    {{user.UserName}}
  </button>

  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="onResetPassword()">
      <mat-icon>build</mat-icon>
      Reset Password
    </button>
    <button mat-menu-item (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
      Sign out
    </button>
  </mat-menu>
</mat-toolbar>

<mat-drawer-container class="container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side">
    <h2 style="color:white">Menu</h2>
    <button mat-button class="menu-button" [routerLink]="['/home']">
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </button>
    <mat-divider></mat-divider>

    <button mat-button class="menu-button" [routerLink]="['/all-applications']" *ngIf="isAdmin">
      <mat-icon>list</mat-icon>
      <span> Applications</span>
    </button>
    <mat-divider *ngIf="isAdmin"></mat-divider>

    <button mat-button class="menu-button" [routerLink]="['/attendance-log']">
      <mat-icon>list</mat-icon>
      <span> Attendance log</span>
    </button>
    <mat-divider></mat-divider>



    <!-- <button mat-button class="menu-button" [routerLink]="['/employee-management']" *ngIf="isAdmin">
      <mat-icon>work</mat-icon>
      <span> Employee</span>
    </button>
    <mat-divider *ngIf="isAdmin"></mat-divider> -->

    <!-- <button mat-button class="menu-button" [routerLink]="['/medical-aid-types']" *ngIf="isAdmin">
      <mat-icon>medical_information</mat-icon>
      <span> Medical Aid Type</span>
    </button>
    <mat-divider *ngIf="isAdmin"></mat-divider> -->

    <button mat-button class="menu-button" [routerLink]="['/consumables']" *ngIf="isAdmin">
      <mat-icon>shopping_cart</mat-icon>
      <span> Consumables</span>
    </button>
    <mat-divider></mat-divider>

    <button mat-button class="menu-button" [routerLink]="['/requested-consumables']">
      <mat-icon>shopping_cart</mat-icon>
      <span> Requested Consumables</span>
    </button>
    <mat-divider></mat-divider>

    <button mat-button class="menu-button" [routerLink]="['/received-consumables']">
      <mat-icon>shopping_cart</mat-icon>
      <span> Received Consumables</span>
    </button>
    <mat-divider></mat-divider>

    <!-- <button mat-button class="menu-button" [routerLink]="['/allergy']">
      <mat-icon>medication_liquid</mat-icon>
      <span> Allergy</span>
    </button>
    <mat-divider></mat-divider> -->

    <button mat-button class="menu-button" [routerLink]="['/survey-management']">
      <mat-icon>quiz</mat-icon>
      <span>Survey Management</span>
    </button>
    <mat-divider></mat-divider>

    <button mat-button class="menu-button" [routerLink]="['/document']">
      <mat-icon>upload_file</mat-icon>
      <span> Documents</span>
    </button>
    <mat-divider></mat-divider>

    <button mat-button class="menu-button" [routerLink]="['/all-academic-calendars']">
      <mat-icon>calendar_month</mat-icon>
      <span> Academic Calendars</span>
    </button>
    <mat-divider></mat-divider>

    <button mat-button class="menu-button" [routerLink]="['/list-class']">
      <mat-icon>list</mat-icon>
      <span> Classes</span>
    </button>
    <mat-divider></mat-divider>

    <button mat-button class="menu-button" [routerLink]="['/list-enrollments']">
      <mat-icon>list</mat-icon>
      <span> Enrollments</span>
    </button>
    <mat-divider></mat-divider>

    <button mat-button class="menu-button" [routerLink]="['/list-bookings']" *ngIf="isAdmin">
      <mat-icon>event_available</mat-icon>
      <span> Booking</span>
    </button>
    <mat-divider *ngIf="isAdmin"></mat-divider>

    <button mat-button class="menu-button" [routerLink]="['/list-slots']">
      <mat-icon>calendar_month</mat-icon>
      <span> Slots</span>
    </button>
    <mat-divider></mat-divider>

    <button mat-button class="menu-button" [routerLink]="['/list-activities']">
      <mat-icon>calendar_month</mat-icon>
      <span> Activities</span>
    </button>
    <mat-divider></mat-divider>

    <button mat-button class="menu-button" [routerLink]="['/list-events']">
      <mat-icon>calendar_month</mat-icon>
      <span> Events</span>
    </button>
    <mat-divider></mat-divider>

    <button mat-button class="menu-button" [routerLink]="['/list-companies']">
      <mat-icon>list</mat-icon>
      <span> Companies</span>
    </button>
    <mat-divider></mat-divider>

    <button mat-button class="menu-button" [routerLink]="['/user-management']" *ngIf="isAdmin">
      <mat-icon>person</mat-icon>
      <span> Users</span>
    </button>
    <mat-divider *ngIf="isAdmin"></mat-divider>

    <button mat-button class="menu-button" [routerLink]="['/employee-management']" *ngIf="isAdmin">
      <mat-icon>person</mat-icon>
      <span> Employees</span>
    </button>
    <mat-divider *ngIf="isAdmin"></mat-divider>

    <!-- <button mat-button class="menu-button">
      <mat-icon>person</mat-icon>
      <span> Teachers</span>
    </button>
    <mat-divider></mat-divider> -->

    <button mat-button class="menu-button" [routerLink]="['/list-parents']">
      <mat-icon> person</mat-icon>
      <span> Parents</span>
    </button>
    <mat-divider></mat-divider>

    <button mat-button class="menu-button" [routerLink]="['/list-children']">
      <mat-icon>face </mat-icon>
      <span> Children</span>
    </button>
    <mat-divider></mat-divider>

    <button mat-button class="menu-button" [routerLink]="['/list-communications']">
      <mat-icon>chat</mat-icon>
      <span> Communication</span>
    </button>
    <mat-divider></mat-divider>

    <button mat-button class="menu-button" [routerLink]="['/list-blogs']">
      <mat-icon>chat</mat-icon>
      <span> Blogs</span>
    </button>
    <mat-divider></mat-divider>

    <button mat-button class="menu-button" [routerLink]="['/reports-dashboard']" *ngIf="isAdmin">
      <mat-icon>bar_chart</mat-icon>
      <span> Reports</span>
    </button>
    <mat-divider *ngIf="isAdmin"></mat-divider>

    <button mat-button class="menu-button" [routerLink]="['/manage-settings']" *ngIf="isAdmin">
      <mat-icon>settings</mat-icon>
      <span> Settings</span>
    </button>
    <mat-divider *ngIf="isAdmin"></mat-divider>

    <button mat-button class="menu-button" [routerLink]="['/list-transaction-logs']" *ngIf="isAdmin">
      <mat-icon>list</mat-icon>
      <span> Transactions Log</span>
    </button>
    <mat-divider *ngIf="isAdmin"></mat-divider>
  </mat-drawer>



  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
  <!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
  <!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
  <!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
  <!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
  <div class="cntr">
    <div>
      <alert></alert>
      <router-outlet></router-outlet>
    </div>
  </div>
