<mat-card class="card-container">
  <div>
    <mat-card-title>Reset Password</mat-card-title>
    <mat-card-subtitle *ngIf="errorMessage">{{errorMessage}}</mat-card-subtitle>
  </div>

  <mat-card-content>

    <form [formGroup]="resetForm" (ngSubmit)="onSubmit()" *ngIf="resetForm != null">

      <div class="form-field-container">
        <mat-form-field class="form-field" appearance="outline">
          <mat-label>Current Password</mat-label>
          <input type="password" matInput formControlName="CurrentPassword" required>
          <mat-error *ngIf="CurrentPassword.touched && CurrentPassword.invalid">
            <div *ngIf="CurrentPassword.errors.required">please provide current password.</div>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-field-container">
        <mat-form-field class="form-field" appearance="outline">
          <mat-label>New Password</mat-label>
          <input type="password" matInput formControlName="Password" required>
          <mat-error *ngIf="Password.touched && Password.invalid">
            <div *ngIf="Password.errors.required"> Please provide password.</div>
            <div *ngIf="Password.errors.RequiredLength"> password should be 8 characters minimum.</div>
            <div *ngIf="Password.errors.RequireDigit"> password should contain atleast one number between 0-9.</div>
            <div *ngIf="Password.errors.RequireLowercase"> password should contain atleast one lowercase character.
            </div>
            <div *ngIf="Password.errors.RequireUppercase"> password should contain atleast one uppercase character.
            </div>
            <div *ngIf="Password.errors.RequireNonAlphanumeric"> password should contain atleast one non-alphanumeric
              character.</div>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-field-container">
        <mat-form-field class="form-field" appearance="outline">
          <mat-label>Confirm Password</mat-label>
          <input type="password" matInput formControlName="ConfirmPassword" required>
          <mat-error *ngIf="ConfirmPassword.touched && ConfirmPassword.invalid">
            <div *ngIf="ConfirmPassword.errors.required"> Please provide password.</div>
            <div *ngIf="ConfirmPassword.errors.ConfirmPassword"> password does not match</div>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="bottom-controls-container">
        <button mat-raised-button type="submit" color="primary">Reset</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>


<app-progress-spinner class="example-margin" color="warn" mode="indeterminate" value="50" [backdropEnabled]="true"
  [positionGloballyCenter]="true" [displayProgressSpinner]="displayProgressSpinner">
