<h1>Fees</h1>

<div class="container mat-elevation-z8">

  <div class="form">
    <mat-form-field floatPlaceholder="never" color="accent">
      <input matInput #filter placeholder="Find Fee">
    </mat-form-field>
  </div>

  <mat-table #table [dataSource]="dataSource" matSort class="mat-cell">
    ng update @angular/cli @angular/core
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
          <ng-container matColumnDef="fee_Id">
            <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
            <mat-cell *matCellDef="let fee"> {{fee.fee_Id}}</mat-cell>
          </ng-container>


    <ng-container matColumnDef="fee_Name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Fee Name</mat-header-cell>
      <mat-cell *matCellDef="let fee"> {{fee.fee_Name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="fee_Amount">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Fee Amount</mat-header-cell>
        <mat-cell *matCellDef="let fee">R {{fee.fee_Amount}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="fee_Type">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Fee Type</mat-header-cell>
        <mat-cell *matCellDef="let fee"> {{fee.feeType_Name}}</mat-cell>
      </ng-container>

    <!-- actions -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>
        <button mat-icon-button color="primary" (click)="openAddDialog()">
          <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
        </button>
      </mat-header-cell>

      <mat-cell *matCellDef="let fee; let i=index;">
        <button mat-icon-button color="accent" (click)="startEdit(fee.fee_Id, fee.fee_Name, fee.fee_Amount, fee.feeType_Id, fee.feeType_Name)">
          <mat-icon aria-label="Edit">edit</mat-icon>
        </button>

        <button mat-icon-button color="accent">
          <mat-icon aria-label="Delete" (click)="deleteItem(fee.fee_Id, fee.fee_Name, fee.fee_Amount, fee.feeType_Id)">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let fee; columns: displayedColumns;"></mat-row>
  </mat-table>


  <div class="no-results" [style.display]="dataSource.renderedData.length == 0 ? '' : 'none'">
    <h4>No fees..</h4>
  </div>

  <mat-paginator #paginator
                 [length]="dataSource.filteredData.length"
                 [pageIndex]="0"
                 [pageSize]="10"
                 [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>
</div>

