<h1 mat-dialog-title>Delete User Role</h1>
<div mat-dialog-content>
  <p *ngIf="record.usersCount ==0">Are you sure you want to delete user role?</p>
  <strong *ngIf="record.usersCount >0">NB: Cannot delete user role with at least one user</strong>
</div>
<div mat-dialog-actions class="button-row">
  <button mat-button mat-dialog-close color="warn">Cancel</button>
  <button mat-button mat-dialog-close color="primary" type="button" [disabled]="record.usersCount >0" cdkFocusInitial
    (click)="onSubmit()">Delete</button>
</div>

<app-progress-spinner class="example-margin" color="warn" mode="indeterminate" value="50" [backdropEnabled]="true"
  [positionGloballyCenter]="true" [displayProgressSpinner]="displayProgressSpinner">
