<div class="row">
  <div class="col-6" id="img" style="text-align:center;margin-top:50px"><img src="/assets/logo.png" width="360"
      height="340" alt="Hatfield Montessori Logo"></div>
  <div class="col-6">


    <form [formGroup]="loginForm" style="width: 50%; margin-top:50px">
      <h2>Forgot Password</h2>

      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" formControlName="username" placeholder="Your username" class="form-control"
          [ngClass]="{ 'is-invalid': (otpRequestError || OnValidateOtpError || onSubmitError) && f.username.errors }" required />
        <div *ngIf=" (otpRequestError || OnValidateOtpError) && f.username.errors" class="invalid-feedback">
          <div *ngIf="f.username.errors.required">Username is required</div>
        </div>
      </div>

      <div class="form-group">
        <label for="username">OTP</label>
        <input type="text" formControlName="OTP" placeholder="OTP Code" class="form-control"
          [ngClass]="{ 'is-invalid': OnValidateOtpError && f.OTP.errors }" required />
        <div *ngIf="OnValidateOtpError && f.OTP.errors" class="invalid-feedback">
          <div *ngIf="f.OTP.errors.required">OTP is required</div>
        </div>
      </div>


      <div class="form-group" *ngIf="showResetPasswordControls">
        <label>New Password</label>
        <input type="password" matInput formControlName="Password" class="form-control"
          [ngClass]="{ 'is-invalid': onSubmitError && f.Password.errors }" required>
        <div *ngIf="onSubmitError && f.Password.errors">
          <div *ngIf="f.Password.errors.required"> Please provide password.</div>
          <div *ngIf="f.Password.errors.RequiredLength"> password should be 8 characters minimum.</div>
          <div *ngIf="f.Password.errors.RequireDigit"> password should contain atleast one number between 0-9.</div>
          <div *ngIf="f.Password.errors.RequireLowercase"> password should contain atleast one lowercase character.
          </div>
          <div *ngIf="f.Password.errors.RequireUppercase"> password should contain atleast one uppercase character.
          </div>
          <div *ngIf="f.Password.errors.RequireNonAlphanumeric"> password should contain atleast one non-alphanumeric
            character.</div>
        </div>
      </div>

      <div class="form-group" *ngIf="showResetPasswordControls">
        <label>Confirm Password</label>
        <input type="password" matInput formControlName="ConfirmPassword" class="form-control"
          [ngClass]="{ 'is-invalid': onSubmitError && f.ConfirmPassword.errors }" required>
        <div *ngIf="onSubmitError && f.ConfirmPassword.errors">
          <div *ngIf="f.ConfirmPassword.errors.required"> Please provide password.</div>
          <div *ngIf="f.ConfirmPassword.errors.ConfirmPassword"> password does not match</div>
        </div>
      </div>

      <div class="form-group">
        <a class="btn btn-primary" (click)="onRequestOtp()" *ngIf="!showResetPasswordControls">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Request OTP
        </a>

        <a (click)="OnValidateOtp()" class="validate-otp btn btn-primary "
          *ngIf="showOtpControl && !showResetPasswordControls">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Validate OTP
        </a>

        <a (click)="onSubmit()" class="validate-otp btn btn-primary " *ngIf="showResetPasswordControls">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Set new Password
        </a>

        <a (click)="onNavigateToRegister()" class="btn btn-link">Register</a>
      </div>
    </form>
  </div>
</div>
