<h1>Employees</h1>

<div class="container mat-elevation-z8">

  <div class="form">
    <mat-form-field floatPlaceholder="never" color="accent">
      <input matInput #filter placeholder="Find employee..">
    </mat-form-field>
  </div>

  <mat-table #table [dataSource]="dataSource" matSort class="mat-cell">
    ng update @angular/cli @angular/core
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <ng-container matColumnDef="employee_Name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
      <mat-cell *matCellDef="let employee"> {{employee.employee_Name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="employee_Surname">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Surname</mat-header-cell>
      <mat-cell *matCellDef="let employee"> {{employee.employee_Surname}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="phone_Number">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Phone number</mat-header-cell>
      <mat-cell *matCellDef="let employee"> {{employee.phone_Number}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="gender">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Gender</mat-header-cell>
      <mat-cell *matCellDef="let employee"> {{employee.gender}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="employeeType_ID">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Type</mat-header-cell>
      <mat-cell *matCellDef="let employee"> {{employee.employeeType_ID}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="address_Line1">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Address line 1</mat-header-cell>
      <mat-cell *matCellDef="let employee"> {{employee.address_Line1}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="address_Line2">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Address line 2</mat-header-cell>
      <mat-cell *matCellDef="let employee"> {{employee.address_Line2}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="city">
      <mat-header-cell *matHeaderCellDef mat-sort-header>City</mat-header-cell>
      <mat-cell *matCellDef="let employee"> {{employee.city}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="doB">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Date of Birth</mat-header-cell>
      <mat-cell *matCellDef="let employee"> {{employee.doB | date: 'dd-MM-yyyy'}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="employee_Email">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
      <mat-cell *matCellDef="let employee"> {{employee.employee_Email}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="id_Number">
      <mat-header-cell *matHeaderCellDef mat-sort-header>ID number</mat-header-cell>
      <mat-cell *matCellDef="let employee"> {{employee.id_Number}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="postal_code">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Postal code</mat-header-cell>
      <mat-cell *matCellDef="let employee"> {{employee.postal_code}}</mat-cell>
    </ng-container>

    <!-- actions -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>
        <button mat-icon-button color="primary" (click)="openAddDialog()">
          <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
        </button>
      </mat-header-cell>

      <mat-cell *matCellDef="let employee; let i=index;">
        <button mat-icon-button color="accent" (click)="startEdit(employee.employee_Id, employee.employee_Name, employee.employee_Surname,
         employee.phone_Number, employee.gender, employee.employeeType_ID, employee.address_Line1 ,employee.address_Line2, employee.city, employee.doB, employee.employee_Email,
         employee.id_Number, employee.postal_code)">
          <mat-icon aria-label="Edit">edit</mat-icon>
        </button>

        <button mat-icon-button color="accent">
          <mat-icon aria-label="Delete" (click)="deleteItem(employee.employee_Id, employee.employee_Name, employee.employee_Surname,
          employee.phone_Number, employee.gender, employee.employeeType_ID, employee.address_Line1, employee.address_Line2,
          employee.city, employee.doB, employee.employee_Email, employee.id_Number, employee.postal_code)">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let employee; columns: displayedColumns;"></mat-row>
  </mat-table>


  <div class="no-results" [style.display]="dataSource.renderedData.length == 0 ? '' : 'none'">
    <h4>No employees..</h4>
  </div>

  <mat-paginator #paginator
                 [length]="dataSource.filteredData.length"
                 [pageIndex]="0"
                 [pageSize]="10"
                 [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>
</div>

