<h1>Update Allergy {{data.allergy_Id}}</h1>
<form [formGroup]="allergyForm">

  <td>
    <mat-form-field class="demo-full-width">
      <input class="form-control" [(ngModel)]="data.allergy_Name" formControlName="allergy_Name" pattern="[a-zA-Z ]*"
        matTooltip="Enter name" matInput placeholder="Name" autocomplete="off" required>
    </mat-form-field>
    <mat-error>
      <span *ngIf="!allergyForm.get('allergy_Name').value && allergyForm.get('allergy_Name').touched">Invalid
        format</span>
    </mat-error>

    <br>
    <div mat-dialog-actions>
      <button mat-button [disabled]="!allergyForm.valid" [mat-dialog-close]="1" (click)="stopEdit()">Save</button>
      <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
    </div>
</form>
