<div class="container">
  <mat-toolbar class="top-section">
    <span class="fill-remaining-space"></span>
    <span class="title">Delete Survey Question</span>
    <span class="fill-remaining-space"></span>
  </mat-toolbar>

  <div>
    <strong>Are you sure you want to delete this survey question? The following data will be deleted as well</strong>
    <ul>
      <li>{{record.answerOptions.length}} Answers linked to the survey question</li>
      <li> Responses linked to the survey question</li>
    </ul>
  </div>


  <div class="button-row">
    <button mat-raised-button type="button" (click)="closeDialog()" mat-flat-button color="warn">Cancel</button>
    <button mat-raised-button type="submit" color="primary" (click)="onSubmit()">Delete</button>
  </div>
</div>

<app-progress-spinner class="example-margin" color="warn" mode="indeterminate" value="50" [backdropEnabled]="true"
  [positionGloballyCenter]="true" [displayProgressSpinner]="displayProgressSpinner">
