<div class="mat-elevation-z8 table-container">
  <div class="table-top-controllers">
    <span class="table-name">Children</span>
  </div>

  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium">
  </mat-form-field>

  <mat-table [dataSource]="dataSource" matSort class="table" #mytable>

    <ng-container matColumnDef="gender">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Gender </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.gender}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="surname">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Surname </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.surname}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="dateOfBirth">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Date of Birth </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.dateOfBirth}} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef mat-sort-header> </mat-header-cell>

      <mat-cell *matCellDef="let element">
        <button mat-button [matMenuTriggerFor]="menu">More</button>

        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="onViewDetails(element)">View Details</button>
        </mat-menu>

      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

    <tr class="mat-row no-data-row" *matNoDataRow>
      <h2 class="mat-cell no-data-text">No data found</h2>
    </tr>
  </mat-table>


  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>

<app-progress-spinner class="example-margin" color="warn" mode="indeterminate" value="50" [backdropEnabled]="true"
  [positionGloballyCenter]="true" [displayProgressSpinner]="displayProgressSpinner">
