<div class="heading" [hidden]="isShow">
  <h3>Hi {{user.UserName}}<span class="wave">👋</span></h3>
  <small>Need help? Our <a href="https://profound-arithmetic-4321e9.netlify.app/" target="_blank">user manual</a> will
    show you how to use and quickly navigate the system.</small>
  <i (click)=toggleDisplay() style="font-size:20px; float:right; padding-right:10px;"
    class="fa-regular fa-circle-xmark"></i>
</div>
<div class="box">
  <button class="box-item" (click)="onGoToApplications()" *ngIf="isAdmin">
    <i style="color:#dbd514" class="fa-regular fa-rectangle-list"></i>
    <br />
    Applications
  </button>

  <button class="box-item" (click)="ongoToChildren()">
    <i style="color:#13cf0c" class="fa-solid fa-hands-holding-child"></i>
    <br />
    Children
  </button>

  <button class="box-item" (click)="onGoToSchedule()" *ngIf="isAdmin">
    <i style="color:#14dbc7" class="fa-solid fa-calendar-days"></i>
    <br />
    Schedule
  </button>

  <button class="box-item" *ngIf="isAdmin" (click)="onGoToDocuments()">
    <i style="color:#c2590a" class="fa-regular fa-paste"></i>
    <br />
    Documents
  </button>

  <button class="box-item" (click)="onGoToReportsDashboard()">
    <i style="color:#31075e" class="fa-solid fa-square-poll-horizontal"></i>
    <br />
    Reporting
  </button>

</div>


<app-progress-spinner class="example-margin" color="warn" mode="indeterminate" value="50" [backdropEnabled]="true"
  [positionGloballyCenter]="true" [displayProgressSpinner]="displayProgressSpinner">
